#web-work {
    border-bottom: 1px solid var(--grey);
    padding-top: 25px;
    padding-bottom: 50px;
    background-image: url("../../assets/images/code.png");
    background-color: var(--darkgrey);
    background-size: 80px;
    background-blend-mode: soft-light;
}

.web-info {
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    color: var(--header);
}

.web-info h1 {
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 800;
}

.web-info p {
    color: var(--text);
}

.web-img {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
}

.web-img:hover > .web-project-desc {
    display: flex;
    transition: .25s ease-in-out;
}

.web-project-desc {
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    height: 110%;
    display: none;
    background: rgba(0, 0, 0, 0.842);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: .25s ease-in-out;
}

.project-spotlight {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.project-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project-row > .card {
    width: 20rem;
    margin: 15px;
}

.card {
    width: 50%;
    min-width: 20rem;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 1px var(--darkgrey);
    overflow: hidden;
}

.card:hover {
    box-shadow: 0px 0px 1px 1px var(--primary);
}

.card img {
    filter: hue-rotate(20);
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    margin-bottom: -5px;
}

.project-info {
    background-color: var(--card);
    border-radius: 0px 0px 25px 25px;
}

.project-info h4 {
    color: var(--light);
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    padding: 5px;
}

.icon-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.icon-row ul {
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    list-style: none;
}